*.zip
/foa_dev/ 
/Voxtral-Mini-3B-2507/
/task2/sony01/
/task2/sony02/
/task2/sony11/
/task2/tau01/
/task2/tau02/
/task2/tau11/
/task3/win_cuts/
/Kimi-Audio-7B-Instruct/
/audio-flamingo-3/
/Aero-1-Audio/